body{
  background-color: violet;
}

@media screen and (min-width: 684px) {
    body {
      background-color: lightblue;
    }
  }

@media screen and (min-width: 768px) {
    body {
      background-color: green;
    }
  }

  @media screen and (min-width: 1024px) {
    body {
      background-color: grey;
    }
  }
